/* Navigation
-----------------------------*/

.widget-links {
	list-style: none;
	padding:0;
	margin:0;
	li {
		display:block;
		border-bottom: 1px dotted $nav-sep-color;
		padding: 5px 0;
	}
	li a:link, & li a:visited {
		font-size: 1.6em;
		font-weight:bold;
		text-decoration: none;
		color: $nav-link-color;
	}
	li a:hover {
		color: $nav-link-hover-color;
	}
}

/* List
-----------------------------*/
.list-unstyled {
	list-style:none;
	padding:0;
	margin:0;
}

/* Text Alignment
-----------------------------*/
.text-center {text-align:center;}
.text-right {text-align:right;}
.text-left {text-align:left;}

/* Form Elements
-----------------------------*/
label { 
	display: inline-block;
	width:5em;	
}

/* Header
-----------------------------*/
.header {
	background-color: $header-bg-color;
	color: $header-font-color;
	padding:5px;
	.brand {
		font-size:3em;
		a {
			color:$header-brand-link-color;
			text-decoration: none;
		}
	}
}

/* Content Area
------------------------------*/
.content {
	font-size:1.6em;
	h1 {font-size:3em;}
	.b-line {font-size:.85em;}
}

.sidebar {
	h2 {font-size:2em;}
}

/* Footer
---------------------------------*/
.footer {
	font-size:1.2em;
	background-color: $footer-bg-color;
	color: $footer-font-color;
	border-top: solid 10px $footer-top-color;
	margin-top:60px;
	.top {
		position:relative;
		top:0px;
		height:300px;
	}
	.copyright {
		background-color: $copyright-bg-color;
		height: 50px;
		bottom: 0px;
		padding:5px 0;
		box-sizing:border-box;

		p {
			text-align:center;
		}
	}
}

/* Images
-------------------------------------*/
.img-responsive {
	max-height:100%;
}

/* Buttons
--------------------------------------*/

.button {
	display:inline-block;
	margin-bottom:0;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	touch-action: manipulation;
	cursor: pointer;
	background-image:none;
	border: 1px solid #ccc;
	white-space:nowrap;
	padding: 6px 12px;
	font-size:1em;
	line-height: 1.5;
	border-radius:4px;
}

button {
	&:hover,
	&:focus,
	&.focus {
		color:#333;
		text-decoration:none;
	}

	&:active,
	&.active {
		outline:0;
		background-image: none;
		box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
	}

	&.disabled,
	&[disabled],
	fieldset[disabled] {
		cursor: not-allowed;
		opacity: (.65);
		box-shadow: none;
	}

}
