html {
	font-size:16px;
}
body {
	color: $global-body-font-color;
	font-family: arial, serif;
	font-size: 62.5%;
}
h1,
h2,
h3,
h4,
h5,
h6,
.brand,
.widget-links,
.tools {
	font-family: arial, serif;
}